<%- include("../partials/header") %>
<%- include("../partials/adminnav") %>

    <div class="col-sm-11">
        <form class="form-group" action="/admin/hitlist" enctype="multipart/form-data" method="POST"> 
            <input type="file" name="myFile" />
            <input type="submit" value="Upload a file"/>
         </form>
        </div>
</div>

    
    
 <%- include("../partials/footer") %>
    