<%- include("../partials/header") %>

<div class="col-sm-8 toprow">
    <h2 class="success">Upload Hitlist Successful</h2>
    <h6> Wait a minute and then click on check Hitlist</h6>
    </div>
</div>
    
<%- include("../partials/footer") %>
    