<%- include("../partials/header") %>
<%- include("../partials/adminnav") %>

    <div class="col-sm-11">
        <div id="adminreg">
        <h3>Register</h3>
<form action="/hiddenregister" method="POST">
    <input class="form-control auth" type="text" name="username" placeholder="Username">
    <input class="form-control auth" type="password" name="password" placeholder="password">
    <button class="btn btn-primary">Sign Up</button>
</form> 
</div>
</div>
</div>

    
    
 <%- include("../partials/footer") %>
    