<%- include("../partials/header") %>

<div class="row">
    <div class="col-sm-1">
        <div class="sidebar">
            <a href="/admin/todaywork">Today's Work</a>
            <a href="/admin/register">Register User</a>
            <a href="/admin/dataleft">Data Left</a>
            <a href="/admin/userwork">Indvidual Work</a>
            <a href="/admin/attendance">Attendance</a>
            <a href="/admin/salary">Salary</a>
            <a href="/admin/performance">User Performance</a>
            <a href="/admin/accounts">Accounts</a>
        </div>
    </div>
    <div class="col-sm-11">
        <div id="adminreg">
        <h3>Register</h3>
<form action="/hiddenregister" method="POST">
    <input class="form-control auth" type="text" name="username" placeholder="Username">
    <input class="form-control auth" type="password" name="password" placeholder="password">
    <button class="btn btn-primary">Sign Up</button>
</form> 
</div>
</div>
</div>

    
    
 <%- include("../partials/footer") %>
    