<%- include("../partials/header") %>
<%- include("../partials/adminnav") %>

    <div class="col-sm-11">
        <h2>Upload Email Successful</h2>
        </div>
</div>

    
    
 <%- include("../partials/footer") %>
    