<%- include("../partials/header") %>


    <div class="col-sm-10 toprow">
        <h2 class="success">Upload Email Successful</h2>
        </div>
</div>

    
    
 <%- include("../partials/footer") %>
    