<%- include("../partials/header") %>
<%- include("../partials/adminnav") %>

    <div class="col-sm-11">
        <h2 class="success">Upload Data Successful</h2>
        </div>
</div>

    
    
 <%- include("../partials/footer") %>
    