<div class="row">
    <div class="col-sm-1">
        <div class="sidebar">
            <a href="/admin/todaywork">Today's Work</a>
            <a href="/admin/yesterdaywork">Yesterday Work</a>
            <a href="/admin/register">Register User</a>
            <a href="/admin/dataleft">Data Left</a>
            <a href="/admin/userwork">Indvidual Work</a>
            <a href="/admin/attendance">Attendance</a>
            <a href="/admin/lastmonth">L/M Attendance</a>
            <!-- <a href="/admin/salary">Salary</a>
            <a href="/admin/performance">User Performance</a>
            <a href="/admin/accounts">Accounts</a> -->
            <a href="/admin/hitlist">Hitlist</a>
            <a href="/admin/uploademail">Upload Emails</a>
            <a href="/admin/uploaddata">Upload Data</a>

        </div>
        </div>
 