<%- include("partials/header") %>

<div class="container">
    <div class="toprow">
        <% usadata.forEach(function(usa, index){ %>
        <% if(!boolData && usadata[index].state === xa){ %>
        <h2>USE Florida Data</h2>
        <a href="/data/<%= usadata[index]._id %>" class="btn btn-primary">USE Data</a>
        <% boolData = true; %>
        <% }; %>
        <% }); %>
    </div>
</div>  
<%- include("partials/footer") %>


   
        <!-- <% usadata.forEach(function(usa){ %>
            
                   <p>
                       <a href="/data/<%= usa._id %>" class="btn btn-primary">USE Data</a>
                   </p>
        <% }); %> -->
