<%- include("partials/header") %>
<div class="container">

    <div class="toprow">
        <h2>USE Florida Data</h2>
        <a href="/data/<%= usadata[0]._id %>" class="btn btn-primary">USE Data</a>
    </div>
</div>  
<%- include("partials/footer") %>


   
        <!-- <% usadata.forEach(function(usa){ %>
            
                   <p>
                       <a href="/data/<%= usa._id %>" class="btn btn-primary">USE Data</a>
                   </p>
        <% }); %> -->
