<%- include("partials/header") %>

<div class="container">
    <div class="toprow">
            <h2>Click Below For Data</h2>
            <a href="/data/<%= alldata._id %>" class="btn btn-primary">USE Data</a>
    </div>
</div>  
<%- include("partials/footer") %>
