<%- include("partials/header") %>

<div class="toprow">
<h3>Forgot Password</h3>

<form action="/forgot" method="POST">
    <input class="form-control auth" type="text" name="email" placeholder="email">
    <button class="btn btn-primary">Reset Password</button>
</form> 
</div>
<%- include("partials/footer") %>