<%- include("partials/header") %>
<% if(currentUser.username === "krates"){ %>
    <div class="col-sm-8 toprow">
        <h1 class="display-6">Visit Admin Panel</h1>
        <a href="/admin">
        <button class="btn btn-warning btn-lg btn-pad">Continue</button>
        </a>
    </div>

<% } else { %>
<div class="row toprow">
      <div class="col-sm">
          <h1 class="display-6">Welcome <%= currentUser.username %></h1>
          <form action="/data" method="POST">
          <button class="btn btn-warning btn-lg btn-pad">Continue</button>
          </form>
      </div>

      <% if(currentUser.dsl !== null || currentUser.length() !== 0) { %>

        <div class="col-sm">
           
                <form action="changeip/changeip.ejs">
                    <button class="btn btn-danger btn-lg btn-pad">Change Location</button>  
                </form>
            </a>
        </div>

    <% } %>
    
    <% } %>



<%- include("partials/footer") %>