<%- include("partials/header") %>
<div class="row toprow">
      <div class="col-sm">
          <h1 class="display-6">Welcome <%= currentUser.username %></h1>
          <a href="/data">
          <button class="btn btn-warning btn-lg btn-pad">Continue</button>
          </a>
      </div>
    </div>



<%- include("partials/footer") %>