<%- include("./partials/header") %>

<div class="container">

    <div class="toprow">
        <h3>Invalid Machine</h3>
        <h6><%= mac %></h6>
    </div>
</div>

<%- include("./partials/footer") %>