<%- include("./partials/header") %>

<div class="container">
    <div class="toprow">
        <h3>iP Already Used</h3>
    </div>
</div>
<% if(currentUser.dsl.length != 0) { %>

    <div class="col-sm">
           
            <form action="changeip">
                <button class="btn btn-danger btn-lg btn-pad">Change Location</button>  
            </form>
        </a>
    </div>
</div>
<% } %>

<%- include("./partials/footer") %>