<%- include("partials/header") %>
<div class="row toprow">
      <div class="col-sm">
          <h1 class="display-4">Your IP Address is  <%= ip %> </h1>
          <a href="https://tools.keycdn.com/geo?host=<%= ip %>" target="_blank">
          <button class="btn btn-primary btn-lg btn-pad">Check IP</button>
          </a>
          <a href="/data">
          <button class="btn btn-warning btn-lg btn-pad">Continue</button>
          </a>
      </div>
    </div>



<%- include("partials/footer") %>