<%- include("partials/header") %>

<div class="row">
    <div class="col-sm-4">
        <div class="card text-white bg-secondary mb-3 topclass">
            <div class="card-header">Header</div>
            <div class="card-body">
            <a href="#"><button class="btn btn-success wid">Link</button></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-secondary mb-3 topclass">
            <div class="card-header">Header</div>
            <div class="card-body">
            <a href="#"><button class="btn btn-success wid">Link</button></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card text-white bg-secondary mb-3 topclass">
            <div class="card-header">Header</div>
            <div class="card-body">
            <a href="#"><button class="btn btn-success wid">Link</button></a>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") %>