<%- include("./partials/header") %>

<div class="container">
    <div class="toprow">
        <h3><%= xa %></h3>
        <a href="https://proxypanel.io/proxy/locations/coolroxxx/custom1/355eb53c2d605431e543879bd452889b:46Vm_w5j_S98k6-Gy2h__LmGYxY1LDSq_nEqho4D60E" target="_blank">
            <button class="btn btn-danger btn-lg btn-pad">Change Location</button>  
        </a>
        <a href="https://proxypanel.io/proxy/change-ip/coolroxxx/custom1/355eb53c2d605431e543879bd452889b:46Vm_w5j_S98k6-Gy2h__LmGYxY1LDSq_nEqho4D60E" target="_blank">
            <button class="btn btn-info btn-lg btn-pad">Change IP</button>  
        </a>
    
    </div>
</div>

<%- include("./partials/footer") %>