<%- include("../partials/header") %>

<div class="container">
    <div class="toprow">
        
        <h3><%= xar %></h3> <br><br>
        <button class="btn btn-info" onclick="window.history.back()">Check IP</button>
    </div>
</div>

<%- include("../partials/footer") %>