@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
/* Sidebar */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebarboot.active {
    margin-left: -230px;
    
}

#sidebarboot {
    min-width: 230px;
    max-width: 768px;
}

  @media (max-width: 768px) {
    #sidebarboot {
        margin-left: 0;
        width: 768px;
    }
    #sidebarboot.active {
        margin-left: 0;
        width: 768px;
    }
    }

    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
    #sidebarboot {
        /* don't forget to add all the previously mentioned styles here too */
        background: #7386D5;
        color: #fff;
        transition: all 0.3s;
    }
    
    #sidebarboot .sidebarboot-header {
        padding: 20px;
        background: #6d7fcc;
    }
    
    #sidebarboot ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }
    
    #sidebarboot ul p {
        color: #fff;
        padding: 10px;
    }
    
    #sidebarboot ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    #sidebarboot ul li a:hover {
        color: #7386D5;
        background: #fff;
    }
    
    #sidebarboot ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }





.toprow{
    padding-top: 30vh;
    text-align: center;
}

.auth{
    max-width: 300px;
    text-align: center;
    margin: 10px auto;
}

.footer {
    position: relative;
    bottom: -100px;
    width:100%;
    height:10px;   /* Height of the footer */

 }

 .btn-pad{
     margin-top: 20px;
 }

 h5{
     margin-top: 40px;
 }

 .form1{
    width: 50%; 
    margin: 25px auto;
 }

 #fetchdata{
     margin: auto;
     max-width: 500px;
     justify-content: center;
 }

 .fetch{
    margin-bottom: 30px;
 }

 .topclass{
     margin-top: 5vh;
     text-align: center;
     max-width: 18rem;
 }

 .wid{
     width: 9rem;
 }

 .btn{
     outline: 0;
 }

 .phone{
     max-width: 70px;
     display: inline;
 }

 .datafooter{
    padding-top: 15vh;
    text-align: center;
}

.name{
    max-width: 250px;
    display: inline;
}

.userwork {
    margin: 20px;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }
  
  .row{
      margin-top: 30px;
  }

  #adminreg{
    padding-top: 10vh;
    text-align: center;
  }

  .form-group {
      max-width: 70%;
  }
.imagax{
    margin-bottom: 20px;
}

.noresults{
    margin: auto;
    width: 30%;
}

.success{
    margin:auto;
    width: 70%;
}

#usersubmit{
    margin: auto;
    max-width: 100px;
}

.userheading{
    margin:auto;
    text-align: center;
}

.input2{
    width: 450px;
}

.margin-right{
    margin-left: 100px;
}

.usersalary {
    padding-left: 5px;
    width: 120px;
    border: 1px solid white;
    font-weight: bold;
    background-color: #f8f9fa;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }

.userprofile {
        padding-left: 15px;
        width: 400px;
        height: 35px;
        border: 1px solid #ccc;
        background-color: #f8f9fa;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        }

.modtop{
    padding-top: 10vh;
    text-align: center;
}

.lablu{
    min-width: 100px;
}

.amount{
    width: 90px;
}

.amput{
    width: 100px;
}

.heem{
    font-size: larger;
    font-weight: 300;
    margin: auto 20px; 
}

.inline-item{
    display: flex;
}

.edit{
    margin-right: 20px;
}